#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd
df = pd.read_csv('../../data/supermarket_sales.csv')

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [4]:
df.groupby('Branch')['gross income'].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

`–°` ‚Äì —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É.

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [39]:
# 1–π —Å–ø–æ—Å—ñ–±
df_sorted = df.sort_values('gross income', ascending = False).head(1)

df_sorted

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
350,860-79-0874,C,Naypyitaw,Member,Female,Fashion accessories,99.3,10,49.65,1042.65,2/15/2019,14:53,Credit card,993.0,4.761905,49.65,6.6

In [41]:
df_sorted.groupby('City')[['Branch', 'gross income']].max()

          Branch  gross income
City
Naypyitaw      C         49.65

In [45]:
# 2–π —Å–ø–æ—Å—ñ–±
branch_income = df.groupby('Branch')['gross income'].sum()

top_branch = branch_income.idxmax()

In [47]:
top_branch

'C'

In [49]:
top_city = df[df['Branch'] == top_branch]['City'].iloc[1]
top_city

'Naypyitaw'

In [51]:
df.groupby('City').size()

City
Mandalay     332
Naypyitaw    328
Yangon       340
dtype: int64

–£ –º—ñ—Å—Ç—ñ `Naypyitaw` –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º - 5265.1765. –û—Å–∫—ñ–ª—å–∫–∏ —É —Ü—å–æ–º—É –º—ñ—Å—Ç—ñ 328 –º–∞–≥–∞–∑–∏–Ω—ñ–≤, —Ç–æ–º—É –º–æ–∂–Ω–∞ —â–µ —Ä–æ–∑–º—ñ—Å—Ç–∏—Ç–∏ –¥–µ–∫—ñ–ª—å–∫–∞, –∞–¥–∂–µ –≤ —ñ–Ω—à–∏—Ö –º—ñ—Å—Ç–∞—Ö —ó—Ö –±—ñ–ª—å—à–µ (332 —ñ 340 –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–æ).

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [26]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values='Invoice ID', aggfunc='size')

In [28]:
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [112]:
invoices_by_category.idxmax()[:1]

Product line
Electronic accessories    A
dtype: object

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

**1. –Ø–∫–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è –ø–æ–∫—É–ø—Ü—ñ–≤ –∑–∞ —Å—Ç–∞—Ç—Ç—é (—á–æ–ª–æ–≤—ñ–∫–∏/–∂—ñ–Ω–∫–∏) –∫—É–ø—É—î –±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ —É –∫–æ–∂–Ω—ñ–π –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó?**

**–ì—ñ–ø–æ—Ç–µ–∑–∞:** –ß–æ–ª–æ–≤—ñ–∫–∏ —á–∞—Å—Ç—ñ—à–µ –∫—É–ø—É—é—Ç—å —Ç–æ–≤–∞—Ä–∏ –ø–µ–≤–Ω–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥, –µ–ª–µ–∫—Ç—Ä–æ–Ω—ñ–∫–∞), —Ç–æ–¥—ñ —è–∫ –∂—ñ–Ω–∫–∏ ‚Äî —ñ–Ω—à—ñ (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥, –æ–¥—è–≥, –∫–æ—Å–º–µ—Ç–∏–∫—É —á–∏ –ø—Ä–æ–¥—É–∫—Ç–∏ –¥–ª—è –¥–æ–º—É).

**2. –ß–∏ –≤–ø–ª–∏–≤–∞—î –Ω–∞—è–≤–Ω—ñ—Å—Ç—å –∫–∞—Ä—Ç–∫–∏ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –Ω–∞ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –ø–æ–∫—É–ø—Ü—è?**

**–ì—ñ–ø–æ—Ç–µ–∑–∞:** –ü–æ–∫—É–ø—Ü—ñ –∑ –∫–∞—Ä—Ç–∫–æ—é –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –±—ñ–ª—å—à–µ –∑–∞ –æ–¥–Ω—É –ø–æ–∫—É–ø–∫—É, –∫–æ—Ä–∏—Å—Ç—É—é—á–∏—Å—å –∑–Ω–∏–∂–∫–∞–º–∏ —á–∏ –±–æ–Ω—É—Å–∞–º–∏, –Ω—ñ–∂ —Ç—ñ, —Ö—Ç–æ —ó—ó –Ω–µ –º–∞—î.

**3. –ß–∏ –≤–ø–ª–∏–≤–∞—î —Ç–∏–ø –æ–ø–ª–∞—Ç–∏ –Ω–∞ —Å—É–º—É —á–µ–∫—É?**

**–ì—ñ–ø–æ—Ç–µ–∑–∞:** –ö–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ, —è–∫—ñ –æ–ø–ª–∞—á—É—é—Ç—å –∫–∞—Ä—Ç–∫–æ—é, –∑–¥—ñ–π—Å–Ω—é—é—Ç—å –ø–æ–∫—É–ø–∫–∏ –Ω–∞ –±—ñ–ª—å—à—ñ —Å—É–º–∏, –Ω—ñ–∂ —Ç—ñ, —Ö—Ç–æ –ø–ª–∞—Ç–∏—Ç—å –≥–æ—Ç—ñ–≤–∫–æ—é –∞–±–æ –µ–ª–µ–∫—Ç—Ä–æ–Ω–Ω–∏–º –≥–∞–º–∞–Ω—Ü–µ–º.

In [118]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [153]:
#–ì—ñ–ø–æ—Ç–µ–∑–∞ 1

df.groupby(['Gender', 'Product line'])['gross income'].sum()

Gender  Product line
Female  Electronic accessories    1290.5725
        Fashion accessories       1449.4000
        Food and beverages        1579.5675
        Health and beauty          883.8565
        Home and lifestyle        1430.3275
        Sports and travel         1360.7010
Male    Electronic accessories    1296.9290
        Fashion accessories       1136.5950
        Food and beverages        1093.9965
        Health and beauty         1458.7025
        Home and lifestyle        1134.5255
        Sports and travel         1264.1955
Name: gross income, dtype: float64

In [243]:
filtered_electronic = df[df['Product line']=='Electronic accessories']
filtered_electronic.Gender.value_counts(normalize=True)

Gender
Male      0.505882
Female    0.494118
Name: proportion, dtype: float64

In [245]:
filtered_food = df[df['Product line']=='Food and beverages']
filtered_food.Gender.value_counts(normalize=True)

Gender
Female    0.517241
Male      0.482759
Name: proportion, dtype: float64

In [247]:
filtered_health_beauty = df[df['Product line']=='Health and beauty']
filtered_health_beauty.Gender.value_counts(normalize=True)

Gender
Male      0.578947
Female    0.421053
Name: proportion, dtype: float64

1. `–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏` –∫—É–ø—É—é—Ç—å –º–∞–π–∂–µ –æ–¥–Ω–∞–∫–æ–≤–æ —è–∫ –∂—ñ–Ω–∫–∏, —Ç–∞–∫ —ñ —á–æ–ª–æ–≤—ñ–∫–∏ - 1290.57 —Ç–∞ 1296.92 –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–æ (49% —ñ 50%).

**–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:** –†–æ–∑—à–∏—Ä–∏—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç, —è–∫–∏–π –±—É–¥–µ –æ–¥–Ω–∞–∫–æ–≤–æ —Ü—ñ–∫–∞–≤–∏–π –æ–±–æ–º —Å—Ç–∞—Ç—è–º (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥, —Å—Ç–∏–ª—å–Ω—ñ —Ç–∞ —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—å–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏ –¥–ª—è –∂—ñ–Ω–æ–∫ —ñ –ø—Ä–∞–∫—Ç–∏—á–Ω—ñ –≥–∞–¥–∂–µ—Ç–∏ –¥–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤).
–í–∏–∫–æ—Ä–∏—Å—Ç–∞—Ç–∏ —É–Ω—ñ–≤–µ—Ä—Å–∞–ª—å–Ω–∏–π –º–∞—Ä–∫–µ—Ç–∏–Ω–≥, –æ—Ä—ñ—î–Ω—Ç–æ–≤–∞–Ω–∏–π –Ω–∞ —Å–ø—ñ–ª—å–Ω—ñ —ñ–Ω—Ç–µ—Ä–µ—Å–∏.

2. `–á–∂–∞ —Ç–∞ –Ω–∞–ø–æ—ó` - –∂—ñ–Ω–∫–∏ —á–∞—Å—Ç—ñ—à–µ –∫—É–ø—É—é—Ç—å —Ü—é –∫–∞—Ç–µ–≥–æ—Ä—ñ—é (51% –ø—Ä–æ—Ç–∏ 48%).

**–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:** –†–æ–∑—à–∏—Ä–µ–Ω–Ω—è –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç—É, —è–∫–∏–π –ø—Ä–∏–≤–µ—Ä–Ω–µ —É–≤–∞–≥—É —Å–∞–º–µ —á–æ–ª–æ–≤—ñ–∫—ñ–≤ (–ø—Ä–æ–¥—É–∫—Ç–∏ –¥–ª—è —Å–ø–æ—Ä—Ç—É, —Å–Ω–µ–∫–∏ –¥–ª—è –∞–∫—Ç–∏–≤–Ω–æ–≥–æ —Å–ø–æ—Å–æ–±—É –∂–∏—Ç—Ç—è –∞–±–æ –¥–µ–ª—ñ–∫–∞—Ç–µ—Å–∏, –∑–Ω–∏–∂–∫–∏ –Ω–∞ –ø–∏–≤–Ω—ñ –Ω–∞–±–æ—Ä–∏ —Ç–æ—â–æ).

3. `–ó–¥–æ—Ä–æ–≤ º—è —Ç–∞ –∫—Ä–∞—Å–∞`. –ß–æ–ª–æ–≤—ñ–∫–∏ –∑–Ω–∞—á–Ω–æ –±—ñ–ª—å—à–µ –∫—É–ø—É—é—Ç—å —Ü—é –∫–∞—Ç–µ–≥–æ—Ä—ñ—é (57% –ø—Ä–æ—Ç–∏ 42%).

**–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:** –†–æ–∑—à–∏—Ä–∏—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç —Ç–æ–≤–∞—Ä—ñ–≤, —è–∫—ñ —Ü—ñ–∫–∞–≤–ª—è—Ç—å –∂—ñ–Ω–æ–∫: –∫–æ—Å–º–µ—Ç–∏–∫–∞ - –Ω–∞—Ç—É—Ä–∞–ª—å–Ω—ñ —Ç–∞ –æ—Ä–≥–∞–Ω—ñ—á–Ω—ñ –∑–∞—Å–æ–±–∏ –¥–æ–≥–ª—è–¥—É, –≤—ñ—Ç–∞–º—ñ–Ω–∏ —Ç–∞ —Ö–∞—Ä—á–æ–≤—ñ –¥–æ–±–∞–≤–∫–∏, –æ—Ä—ñ—î–Ω—Ç–æ–≤–∞–Ω—ñ –Ω–∞ –∂—ñ–Ω–æ—á–µ –∑–¥–æ—Ä–æ–≤ º—è, –¥–æ–≥–ª—è–¥ –∑–∞ –≤–æ–ª–æ—Å—Å—è–º, —à–∫—ñ—Ä–æ—é —Ç–∞ —Ç—ñ–ª–æ–º. –î–æ–¥–∞—Ç–∏ –≤–∏–≥—ñ–¥–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó, –±–æ–Ω—É—Å–∏, –∫–µ—à–±–µ–∫ —á–∏ –∑–Ω–∏–∂–∫–∏ –Ω–∞ –ø–æ–ø—É–ª—è—Ä–Ω—ñ —Ç–æ–≤–∞—Ä–∏.

In [206]:
#–ì—ñ–ø–æ—Ç–µ–∑–∞ 2

df.groupby('Customer type')['Total'].mean()

Customer type
Member    327.791305
Normal    318.122856
Name: Total, dtype: float64

–Ø–∫ –±–∞—á–∏–º–æ, —Å–µ—Ä–µ–¥–Ω—î –∑–Ω–∞—á–µ–Ω–Ω—è —á–µ–∫—É –¥–ª—è —Ç–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤, —Ö—Ç–æ –º–∞—î –∫–∞—Ä—Ç—É –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –≤–∏—â–µ - 327.79, –Ω—ñ–∂ –¥–ª—è –∑–≤–∏—á–∞–π–Ω–∏—Ö –ø–æ–∫—É–ø—Ü—ñ–≤ - 318.12.
**–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—è:** —Å—Ç–∏–º—É–ª—é–≤–∞—Ç–∏ –∫–ª—ñ—î–Ω—Ç—ñ–≤ –æ—Ç—Ä–∏–º–∞—Ç–∏ –∫–∞—Ä—Ç–∫—É –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ —á–µ—Ä–µ–∑ –≤–∏–≥—ñ–¥–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó (–¥–æ–¥–∞—Ç–∫–æ–≤—ñ –∑–Ω–∏–∂–∫–∏, –∞–∫—Ü—ñ—ó, –∫–µ—à–±–µ–∫).

In [473]:
#–ì—ñ–ø–æ—Ç–µ–∑–∞ 3

top_payment = df.groupby(['Payment', 'City'])['Total'].max()

In [475]:
top_payment.idxmax()

('Credit card', 'Naypyitaw')

In [477]:
top_payment

Payment      City
Cash         Mandalay      867.090
             Naypyitaw    1003.590
             Yangon        932.337
Credit card  Mandalay     1022.385
             Naypyitaw    1042.650
             Yangon       1039.290
Ewallet      Mandalay     1022.490
             Naypyitaw    1034.460
             Yangon        951.825
Name: Total, dtype: float64

In [479]:
df.Payment.value_counts(normalize=True)

Payment
Ewallet        0.345
Cash           0.344
Credit card    0.311
Name: proportion, dtype: float64

–í–∏—â—ñ —Å—É–º–∏ —á–µ–∫—ñ–≤ –æ–ø–ª–∞—á—É—é—Ç—å –∫–∞—Ä—Ç–∫–æ—é —É –º—ñ—Å—Ç—ñ `Naypyitaw`. –ê–ª–µ –∑–∞–≥–∞–ª–æ–º –ø–æ –≤—Å—ñ–º –º—ñ—Å—Ç–∞–º —Ç–∞ –ø–æ–∫—É–ø–∫–∞–º —Ä–æ–∑–ø–æ–¥—ñ–ª –º—ñ–∂ –≥–æ—Ç—ñ–≤–∫–æ—é —Ç–∞ –µ–ª–µ–∫—Ç—Ä–æ–Ω–Ω–∏–º –≥–∞–º–∞–Ω—Ü–µ–º –º–∞–π–∂–µ —Ä—ñ–≤–Ω–æ–º—ñ—Ä–Ω–∏–π –ø–æ 34%, –∞ –∫—Ä–µ–¥–∏—Ç–Ω–∞ –∫–∞—Ä—Ç–∫–∞ - 31%. –¢–æ–∂ —î –ø–æ—Ç–µ–Ω—Ü—ñ–π–Ω–æ —Ü—ñ–∫–∞–≤—ñ—Å—Ç—å –¥–æ –Ω–æ–≤–∏—Ö —Ç–µ—Ö–Ω–æ–ª–æ–≥—ñ–π.

**–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—è:** –ö–ª—ñ—î–Ω—Ç–∏, —è–∫—ñ –ø–ª–∞—Ç—è—Ç—å –∫–∞—Ä—Ç–∫–æ—é, –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—ñ–ª—å—à —Å—Ö–∏–ª—å–Ω–∏–º–∏ –¥–æ –≤–µ–ª–∏–∫–∏—Ö –ø–æ–∫—É–ø–æ–∫. –ú–æ–∂–Ω–∞ —Å—Ç–∏–º—É–ª—é–≤–∞—Ç–∏ –æ–ø–ª–∞—Ç—É –∫–∞—Ä—Ç–∫–æ—é, –ø—Ä–æ–ø–æ–Ω—É—é—á–∏ –∑–Ω–∏–∂–∫–∏ –∞–±–æ –±–æ–Ω—É—Å–∏ –¥–ª—è –∫–∞—Ä—Ç–∫–æ–≤–∏—Ö –ø–æ–∫—É–ø—Ü—ñ–≤. 
–í–∞—Ä—Ç–æ —Ç–∞–∫–æ–∂ —Ä–æ–∑–≥–ª—è–Ω—É—Ç–∏ –º–æ–∂–ª–∏–≤—ñ—Å—Ç—å –≤–ø—Ä–æ–≤–∞–¥–∂–µ–Ω–Ω—è –¥–æ–¥–∞—Ç–∫–æ–≤–∏—Ö –≤–∞—Ä—ñ–∞–Ω—Ç—ñ–≤ –æ–ø–ª–∞—Ç–∏ —á–µ—Ä–µ–∑ –µ–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –≥–∞–º–∞–Ω—Ü—ñ.